<a href="https://colab.research.google.com/github/dbtjr1103/Basic_practice/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 프로그래머스 코딩테스트 입문

신기한 풀이 정리

In [ ]:
# 분수의 덧셈 내풀이
def solution(denum1, num1, denum2, num2):
    answer = []
    
    denum = denum1*num2 + denum2*num1
    num = num1*num2

    max= 1
    for i in range(2,denum+1):
        if denum % i == 0 and num % i == 0:
            max = i
                
    answer.append(denum/max)
    answer.append(num/max)
    
    return answer

In [ ]:
 # math모듈, 최대공약수gcd 함수 사용
import math
def solution(denum1, num1, denum2, num2):
    denum = denum1 * num2 + denum2 * num1
    num = num1 * num2
    gcd = math.gcd(denum, num)
    return [denum//gcd, num//gcd]

In [ ]:
# 중앙값 구하기
def solution(array):
    return sorted(array)[len(array)//2]

In [ ]:
# 짝수의 합
def solution(n):
    return sum([i for i in range(2, n + 1, 2)])

In [ ]:
# 짝수의 합 내풀이
def solution(n):
    answer = 0
    for i in range(2,n+1,2):
        answer += i
    return answer

In [ ]:
# 양꼬치
def solution(n, k):
    s =  n // 10
    answer = 12000*n + 2000*(k-s)
    return answer

In [ ]:
def solution(numbers):
    answer = sum(numbers)/len(numbers)
    return answer

In [ ]:
# 키큰 사람
def solution(array, height):
    count = 0
    for i in array:
        if i > height:
            count += 1
    return count

In [ ]:
# 키큰사람 다른풀이
def solution(array, height):
    array.append(height)
    array.sort(reverse=True)
    return array.index(height)

In [ ]:
# 중복된 숫자개수
def solution(array, n):
    answer = 0
    
    for i in array:
        if i == n:
            answer += 1
    return answer

In [ ]:
def solution(array, n):
    return array.count(n)

In [ ]:
# 몫과 나머지
def solution(slice, n):
    a, b = divmod(n, slice)
    if b == 0:
        answer = a
    else :
        answer = a+1
    return answer

In [ ]:
# 피자 나눠먹기3... 와..
def solution(slice, n):
    return ((n - 1) // slice) + 1

In [ ]:
# 피자1
def solution(n):
    return (n - 1) // 7 + 1

In [ ]:
# 배열뒤집기
def solution(num_list):
    answer = []
    for i in range(1,len(num_list)+1):
        answer.append(num_list[-i])
    return answer

In [ ]:
def solution(num_list):
    return num_list[::-1]

In [ ]:
def solution(my_string):
    return my_string[::-1]

In [ ]:
# 짝수홀수개수 내풀이
def solution(num_list):
    odd, even = 0,0
    for i in num_list:
        if i % 2 == 1:
            odd += 1
        else:
            even += 1
    return [even,odd]

In [ ]:
# 짝수 홀수 개수
def solution(num_list):
    answer = [0,0]
    for n in num_list:
        answer[n%2]+=1
    return answer

In [ ]:
# 점의 위치 구하기
def solution(dot):
    if dot[0] > 0:
        if dot[1] > 0:
            answer = 1
        else:
            answer = 4
    else:
        if dot[1] > 0:
            answer = 2
        else:
            answer = 3
    return answer

In [ ]:
# 대박
def solution(dot):
    if dot[0] > 0:
        if dot[1] > 0:
            answer = 1
        else:
            answer = 4
    else:
        if dot[1] > 0:
            answer = 2
        else:
            answer = 3
    return answer

In [ ]:
# 문자반복출력
def solution(my_string, n):
    answer = ''
    for i in my_string:
        answer += i*n
    return answer

In [ ]:
# join 함수
def solution(my_string, n):
    return ''.join(i*n for i in my_string)

In [ ]:
# 배열원소의길이
def solution(strlist):
    answer = []
    for i in strlist:
        answer.append(len(i))
    return answer

In [ ]:
# 특정 문자 제거
def solution(my_string, letter):
    return my_string.replace(letter, '')

In [ ]:
# 몫과 나머지
def solution(money):
    return list(divmod(money, 5500))

In [ ]:
# n이하 홀수 배열
def solution(n):
    answer = []
    for i in range(n+1):
        if i%2 == 1:
            answer.append(i)
    return answer

In [ ]:
def solution(n):
    return [i for i in range(1, n+1, 2)]

In [ ]:
# 배열 유사도
def solution(s1, s2):
    answer = 0
    for i in s1:
        for j in s2:
            if i == j:
                answer += 1
    return answer

In [ ]:
def solution(s1, s2):
    return len(set(s1)&set(s2));

In [ ]:
# 제곱수 판별
def solution(n):
    num =  []
    for i in range(1, n) :
        if n % i == 0 :
            num.append(i)

    if len(num) % 2 == 0 : #제곱수라면
        return 1
    else:
        return 2

In [ ]:
def solution(n):
    return 1 if (n ** 0.5).is_integer() else 2

In [ ]:
def solution(n):
    return 1 if (n ** 0.5) % 1 == 0 else 2

In [ ]:
# 순서쌍의 개수
def solution(n):
    answer = []
    for i in range(1,n+1):
        if n % i == 0:
            answer.append(i)
    return len(answer)

In [ ]:
# 자릿수 더하기
def solution(n):
    num = str(n)
    answer = 0
    for i in range(len(num)):
        answer += int(num[i])
    return answer

In [ ]:
def solution(n):
    num = str(n)
    answer = 0
    for i in range(len(num)):
        answer += int(num[i])
    return answer

In [ ]:
def solution(str1, str2):
    return 1 if str2 in str1 else 2

In [ ]:
def solution(my_string):
    vowels = ['a','e','i','o','u']
    for vowel in vowels:
        my_string = my_string.replace(vowel, '')
    return my_string

In [ ]:
# 옷가게 할인받기
def solution(price):
    if price>=500000:
        price = price *0.8
    elif price>=300000:
        price = price *0.9
    elif price>=100000:
        price = price * 0.95
    return int(price)

In [ ]:
def solution(price):
    discount_rates = {500000: 0.8, 300000: 0.9, 100000: 0.95, 0: 1}
    for discount_price, discount_rate in discount_rates.items():
        if price >= discount_price:
            return int(price * discount_rate)

In [ ]:
# 숨어있는 숫자의 덧셈
def solution(my_string):
    answer = 0
    for i in my_string:
        if i.isdigit():
            answer += int(i)
    return answer

In [ ]:
# 개미군단
def solution(hp):
    a = hp // 5 
    b = hp % 5 // 3
    c = hp % 5 % 3
    return a+b+c

In [ ]:
# 문자열 정렬하기 (1)
def solution(my_string):
    answer = []
    for i in my_string:
        if i.isdigit():
            answer.append(int(i))
    answer = sorted(answer)
    return answer

In [ ]:
def solution(my_string):
    return sorted([int(c) for c in my_string if c.isdigit()])

In [ ]:
# 최빈값 구하기
def solution(array):
    keys = set(array)
    dict = {}
    max_freq = []
    
    for key in keys:
        dict[key] = array.count(key)
        
    for key in keys:
        if dict[key] == max(dict.values()):
            max_freq.append(key)
            
    if len(max_freq) > 1:
        answer = -1
    else:
        answer = max_freq[0]
        
    return answer

In [ ]:
def solution(array):
    while len(array) != 0:
        for i, a in enumerate(set(array)):
            array.remove(a)
        if i == 0: return a
    return -1

In [ ]:
# 피자 나눠먹기(2)
def solution(n):
    answer = 1
    while answer*6 % n:
        answer += 1
    return answer

In [ ]:
# 세균 증식
def solution(n, t):
    return n * (2**t)

In [ ]:
def solution(n, t):
    return n << t # 비트연산

In [ ]:
# 직각삼각형 출력
n = int(input())

for i in range(n):
    print('*' * (i+1))

In [ ]:
# 외계행성의 나이
def solution(age):
    alpha = 'abcdefghij'
    answer = ''
    for i in str(age):
        answer += alpha[int(i)]
    return answer

solution(12)

'bc'

In [ ]:
def solution(age):

    return ''.join([chr(int(i)+97) for i in str(age)])

In [ ]:
solution(123)

'bcd'

In [ ]:
chr(100)

'd'

In [ ]:
# 진료순서 정하기
def solution(emergency):
    answer = []
    emergencyset=sorted(emergency)
    emergencyset.reverse()
    for i in emergency:
        answer.append(emergencyset.index(i)+1)

    return answer

In [ ]:
emergency = [3,75,24]

answer = []
sets = sorted(emergency)
sets.reverse()
for i in emergency:
    answer.append(sets.index(i)+1)

answer

[3, 1, 2]

In [ ]:
my_string = 'CCCccc'
answer = ''
for i in my_string:
    if i.isupper():
        answer.join(i.lower)
    else:
        answer.join(i.upper)
return answer

In [ ]:
morse = { 
    '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f',
    '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l',
    '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r',
    '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x',
    '-.--':'y','--..':'z'
}

In [ ]:
morse.get('-.--')

'y'

In [ ]:
letter = ".... . .-.. .-.. ---"

In [ ]:
words = letter.split()
words

['....', '.', '.-..', '.-..', '---']

In [ ]:
answer = ''

In [ ]:
for i in words:
    answer += morse.get(i)

In [ ]:
answer

'hello'

In [ ]:
def solution(rsp):
    d = {'0':'5','2':'0','5':'2'}
    return ''.join(d[i] for i in rsp)

In [ ]:
def solution(rsp):
    rsp =rsp.replace('2','s')
    rsp =rsp.replace('5','p')
    rsp =rsp.replace('0','r')
    rsp =rsp.replace('r','5')
    rsp =rsp.replace('s','0')
    rsp =rsp.replace('p','2')
    return rsp

In [ ]:
def solution(balls, share):
    n = 1
    a = 1
    
    for i in range(share):
        n *= balls-i
        a *= share-i
        
    return n/a

In [ ]:
balls = 5
share = 3

n = 1
a = 1

for i in range(share):
    n *= balls-i
    a *= share-i

print(n)
print(a)

60
6

In [ ]:
num_list = [1, 2, 3, 4, 5, 6, 7, 8]
num_list.pop()

2

In [ ]:
num_list

[1, 3, 4, 5, 6, 7, 8]

In [ ]:
answer = []
na = []
for i i 
    for j in range(n):
        na.append(j)

In [ ]:
num_list = [1, 2, 3, 4, 5, 6, 7, 8]
n=2

answer = []

for i in range(len(num_list)/n) :
    na = []
    for i in range(3):
        na.append(num_list.pop())
print(na)

TypeError: ignored

In [ ]:
# 대문자와 소문자
def solution(my_string):
    answer=''
    for i in my_string:
        if i.isupper():
            answer+=i.lower()
        else:
            answer+=i.upper()
    return answer

In [ ]:
#신기한 풀이 
def solution(my_string):
    return my_string.swapcase()

In [ ]:
# 상
def soltion(box, n):
    answer = 1
    for i in box:
            answer *= i//n
    return answer

In [ ]:
# 가장 큰 수 찾기
def solution(array):
    answer = [0,0]
    for i,j in enumerate(array):
        if j > answer[0]:
            answer[0] = j
            answer[1] = i
    return answer

In [ ]:
def solution(array):
    return [max(array), array.index(max(array))]

In [ ]:
n=13
n//2

6

In [ ]:
n%1

0

In [ ]:
# 약수 구하기
def solution(n):
    answer = []
    for i in range(n//2):
        if n % (i+1) == 0:
            answer.append(i+1)  
    answer.append(n)
    return answer

In [ ]:
def solution(n):
    answer = [i for i in range(1,n+1) if n%i == 0]
    return answer

In [ ]:
# 배열회전
def solution(numbers, direction):
    answer = []
    if direction == 'right':
        answer.append(numbers.pop())
        for i in range(len(numbers)):
            answer.append(numbers[i])
    else:
        for i in range(len(numbers)-1):
            answer.append(numbers[i+1])
        answer.append(numbers[0])
    return answer

In [ ]:
def solution(numbers, direction):
    return [numbers[-1]] + numbers[:-1] if direction == 'right' else numbers[1:] + [numbers[0]]

In [ ]:
# 최댓값 만들기 2
def solution(numbers):
    numbers.sort()
    if numbers[0]*numbers[1] > numbers[-1]*numbers[-2]:
        return numbers[0]*numbers[1]
    else:
        return numbers[-1]*numbers[-2]

In [ ]:
def solution(numbers):
    numbers = sorted(numbers)
    return max(numbers[0] * numbers[1], numbers[-1]*numbers[-2]) 
    # max를 쓰면 된다!

In [ ]:
test = 'TEST'

In [ ]:
sorted(list(test.lower()))

['e', 's', 't', 't']

In [ ]:
# 인덱스 바꾸기
def solution(my_string, num1, num2):
    my_string = list(my_string)
    my_string[num1], my_string[num2] = my_string[num2],my_string[num1]
    return "".join(my_string)

In [ ]:
# 369게임
def solution(order):
    answer = 0
    for i in str(order):
        if i == '3' or i == '6' or i =='9':
            answer+=1
    return answer

In [ ]:
# map인데 너무 어려운거같음
def solution(order):
    return sum(map(lambda x: str(order).count(str(x)), [3, 6, 9]))

In [ ]:
# 차라리 count
def solution(order):
    answer = 0
    order = str(order)
    return order.count('3') + order.count('6') + order.count('9')

In [ ]:
# 문자열 정렬하기(2)
def solution(my_string):
    return ''.join(sorted(my_string.lower()))

In [ ]:
# 합성수 찾기
def solution(n):
    answer = 0
    for i in range(4,n+1):
        for j in range(2,int(i/2)+1):
            if i % j ==0:
                answer += 1
                break
    return answer

In [9]:
# 영어가 싫어요
def solution(numbers):
    num_list = ["zero", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]
    for i in range(10):
        numbers = numbers.replace(num_list[i],'{}'.format(i))
    return int(numbers)

In [10]:
def solution(numbers):
    for num, eng in enumerate(["zero", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]):
        numbers = numbers.replace(eng, str(num))
    return int(numbers)

In [ ]:
# 중복된 문자 제거

In [43]:
def solution(my_string):
    answer = []
    for i in range(len(my_string)):
        if my_string[i] not in answer :
            answer.append(my_string[i]) 
    return "".join(answer)

'We arthwold'

In [40]:
# 안되는 경우
a = "We are the world"
b = []
b = [a[i] for i in range(len(a)) if a[i] not in b]
"".join(b)

'We are the world'

In [ ]:
# facorial
from math import factorial

def solution(n):
    k = 10
    while n < factorial(k):
        k -= 1
    return k

In [80]:
n = 3
mul = 1
for i in range(1,11):
    mul *= i
    if n < mul:
        print(i-1)
        break
    else:
        pass

2

In [54]:
n=7
fac = 1
for i in range(1,n+1):
    fac *= i

In [55]:
fac

5040