<a href="https://colab.research.google.com/github/dbtjr1103/Basic_practice/blob/main/programmers_230125.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 약수의 합
def solution(n):
    answer = 0
    
    for i in range(1, int(n+1/2)):
        if n % i == 0:
            answer += i

    return answer + n

In [ ]:
def solution(n):

    return sum(i for i in range(1, int(n+1/))

In [ ]:
def sumDivisor(num):
    # num / 2 의 수들만 검사하면 성능 약 2배 향상잼
    return num + sum([i for i in range(1, (num // 2) + 1) if num % i == 0])

In [5]:
def solution(n):
    return n + sum(i for i in range(1, (n//2)+1) if n % i == 0)

In [6]:
solution(12)

28

In [10]:
# 짝수와 홀수
def solution(num):
    if (num%2):
        return 'Odd'
    else:
        return 'Even'

In [16]:
# 평균 구하기
import numpy as np
def solution(arr):
    return np.mean(arr)

In [20]:
# 평균 구하기
def solution(arr):
    return sum(arr)/len(arr)

In [19]:
arr = [1,2,3,4]
sum(arr)/len(arr)

2.5

In [52]:
# 자릿수 더하기
def solution(n):
    return sum(int(str(n)[i]) for i in range(len(str(n))))

In [53]:
solution(123)

6

In [57]:
N = 123
sum(map(int, str(N)))

6

In [83]:
# 자연수 뒤집어 배열로 만들기
def solution(n):
    answer = []
    for i in range(len(str(n))):
        answer.append(str(n)[i])
    answer = list(map(int, answer))
    answer.reverse()
    return answer

In [88]:
# 자연수 뒤집어 배열로 만들기
def solution(n):
    return list(map(int, reversed(str(n))))

In [85]:
solution(12345)

[5, 4, 3, 2, 1]

In [87]:
import time 

start = time.time()


# 자연수 뒤집어 배열로 만들기
def solution(n):
    answer = []
    for i in range(len(str(n))):
        answer.append(str(n)[i])
    answer = list(map(int, answer))
    answer.reverse()
    return answer

print(solution(12345))

end = time.time()

print("작동시간:", f"{end - start:.5f} sec")

[5, 4, 3, 2, 1]
작동시간: 0.00028 sec

In [92]:
import time 

start = time.time()


# 자연수 뒤집어 배열로 만들기
def solution(n):
    return list(map(int, reversed(str(n))))

print(solution(12345))

end = time.time()

print("작동시간:", f"{end - start:.5f} sec")

[5, 4, 3, 2, 1]
작동시간: 0.00020 sec