<a href="https://colab.research.google.com/github/dbtjr1103/Basic_practice/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC300%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 가이드

문제풀이 가이드

- 풀이 방식이 바로 생각이 나지 않을 때
    
    1) 생각을 글로 정리하는 훈련(제한 시간을 정할 것. 대략 10분)
    
    2) 생각이 정리되면, 정리된 생각을 코드 구현
    
    3) 제한 시간 안에 풀리지 않을 때, 정답코드 확인
    
    4) 정답코드를 글로 번역하기
    
    5) 번역한 글만보고 다시 코드로 구현해보기

- 직접 풀지 못한 문제 따로 기록해둘 것
    
    - 직접 풀지 못했지만 정답을 보고 이해하고 해결한 문제 : O
    
    - 직접 풀지 못했는데 정답을 봐도 이해가 되지 않는 문제 : 별표

- 스터디 통해서 공유할 것
    
    - 직접 풀지 못한 문제 중 여전히 풀이가 이해되지 않는 문제
    ```
    133    
    ```
    - 직접 풀지 못한 문제 중 정답을 보고 이해는 했지만, 다른 풀이가 궁금한 문제
    ```
    
    ```

LV2 대상자 가이드

1~50 생략

6주(4주+2주) 완성

 - 1주차 : 51~150 : 1일 20문제씩 풀이 (주 5일, 주말은 catch-up days)

 - 2주차 : 151~200 : 1일 10문제씩 풀이 (주 5일, 주말은 catch-up days)
 - 3주차 : 201~250 : 1일 10문제씩 풀이 (주 5일, 주말은 catch-up days)
 - 4주차 : 251~300 : 1일 10문제씩 풀이 (주 5일, 주말은 catch-up days)
 - 예상 직접 해결 못한 문제 100문제

 - +1주차 : 직접 해결하지 못한 문제 1일 10문제씩 풀이
 - +2주차 : 직접 해결하지 못한 문제 1일 10문제씩 풀이
 
직접 풀지 못한 문제 따로 * 체크 → 스터디 통해서 문제풀이 서로 공유

직접 풀지 못했지만 정답을 보고 이해하고 해결한 문제

직접 풀지 못했는데 정답을 봐도 이해가 되지 않는 문제

### 문제

#### 시작하기1~10

In [29]:
#001
print("Hello World")

Hello World

In [30]:
#002 
print("Mary's cosmetics")

Mary's cosmetics

In [32]:
#003 
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [36]:
#004 
print('C:\Windows')

C:\Windows

In [ ]:
#005
# \t : 탭, \n : 줄바꿈

In [37]:
#006
# 오늘은 일요일

In [38]:
#007
print("naver", "kakao", "samsung", sep=';')

naver;kakao;samsung

In [40]:
#008 
print("naver", "kakao","sk", "samsung", sep='/')

naver/kakao/sk/samsung

In [45]:
# 009 print 줄바꿈
print("first", end='');print("second")

firstsecond

In [46]:
# 010 연산 결과 출력
print(5/3)

1.6666666666666667

#### 변수 11~20

In [3]:
삼성전자 = 50000
print("총 평가금액 : " + str(삼성전자*10) + "원")

총 평가금액 : 500000원

In [4]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [5]:
s = "hello"
t = "python"
print(s+"!", t)

hello! python

In [6]:
2 + 2 * 3

8

In [7]:
a = "132"
print(type(a))

<class 'str'>

In [8]:
num_str = "720"  #형변환
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [9]:
num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

In [10]:
data = "15.79"
data = float(data)
print(data, type(data))

15.79 <class 'float'>

#### 문자열 21~50

In [11]:
letters = 'python'
print(letters[0], letters[2])

p t

In [2]:
license_plate = "24가 2210"
license_plate[-4:]

'2210'

In [5]:
string = "홀짝홀짝홀짝"

string[::2]

'홀홀홀'

In [6]:
string = "PYTHON"
string[::-1]

'NOHTYP'

In [9]:
phone_number = "010-1111-2222"
phone_number.replace("-"," ")

'010 1111 2222'

In [14]:
url = "http://sharebook.kr"

url.split(".")[-1]

'kr'

In [15]:
string = 'abcdfe2a354a32a'
string.replace('a','A')

'Abcdfe2A354A32A'

In [22]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %s" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [24]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [25]:
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [31]:
상장주식수 = "5,969,782,550"
상장주식수 = int(상장주식수.replace(",",""))
print(상장주식수, type(상장주식수))

5969782550 <class 'int'>

In [33]:
분기 = "2020/03(E) (IFRS연결)"
분기[:7]

'2020/03'

In [35]:
data = "   삼성전자   "
data.strip()

'삼성전자'

In [38]:
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [39]:
ticker.capitalize()

'Btc_krw'

In [42]:
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

In [43]:
file_name = "2020_보고서.xlsx"
file_name.startswith(("2020"))

True

In [44]:
a = "hello world"
a.split(" ")

['hello', 'world']

In [45]:
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [48]:
data = "039490     "
data.rstrip()

'039490'

#### 리스트 51~70

In [49]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
movie_rank

['닥터 스트레인지', '스플릿', '럭키']

In [50]:
movie_rank.append("배트맨")
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [54]:
movie_rank.insert(1, "슈퍼맨")
movie_rank

['닥터 스트레인지', '슈퍼맨', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [58]:
movie_rank
movie_rank.pop(2)

'스플릿'

In [61]:
movie_rank
movie_rank.remove("배트맨")

In [62]:
movie_rank

['닥터 스트레인지', '슈퍼맨', '럭키']

In [63]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
langs

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [64]:
nums = [1, 2, 3, 4, 5, 6, 7]
print(max(nums), min(nums))

7 1

In [65]:
nums = [1, 2, 3, 4, 5]
sum(nums)

15

In [66]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [69]:
average = sum(nums) / len(nums)
average

3.0

In [70]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [71]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

In [72]:
nums[1::2]

[2, 4, 6, 8, 10]

In [73]:
nums[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [80]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [82]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
" ".join(interest)

'삼성전자 LG전자 Naver SK하이닉스 미래에셋대우'

In [84]:
"/".join(interest)

'삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우'

In [88]:
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [89]:
string = "삼성전자/LG전자/Naver"
string.split("/")

['삼성전자', 'LG전자', 'Naver']

In [93]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]

In [94]:
data = [2, 4, 3, 1, 5, 10, 9]
sorted(data)

[1, 2, 3, 4, 5, 9, 10]

#### 튜플 71~80

In [95]:
my_variable = ()

In [96]:
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")

In [97]:
my_tuple = ("text")
type(my_tuple)

str

In [98]:
my_tuple = ("text", )
type(my_tuple)
# 하나의 데이터가 저장되는 경우, 아래와 같이 쉼표를 입력해야한다.

tuple

In [100]:
t = 1, 2, 3, 4
type(t)

tuple

In [103]:
t = ('a', 'b', 'c')
t = list(t)
t[0] = 'A'
t = tuple(t)
t

('A', 'b', 'c')

In [104]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest = list(interest)

In [105]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [108]:
print(tuple(range(2, 100, 2)))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

#### 딕셔너리 81~100

In [125]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*a, b, c = scores
print( a, b, c)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5] 7.8 9.4

In [127]:
a, b, *c= scores
print( a, b, c)

8.8 8.9 [8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [128]:
a, *b, c= scores
print( a, b, c)

8.8 [8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8] 9.4

In [130]:
temp = {}
type(temp)

dict

In [135]:
ice = {
    '메로나' : 1000,
    '폴라포' : 1200,
    '빵빠레' : 1800,
}
ice

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [136]:
ice['죠스바'] = 1200
ice['월드콘'] = 1500
ice

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [146]:
print("메로나 가격:", ice['메로나'])

메로나 가격: 1000

In [147]:
ice['메로나'] = 1300
ice

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [148]:
del ice['메로나']
ice

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [149]:
inventory = {
    '메로나' : [300, 20],
    '비비빅' : [400, 3],
    '죠스바' : [250, 100]}
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [153]:
print(inventory['메로나'][0], "원")

300 원

In [155]:
print(inventory['메로나'][1], "개")

20 개

In [158]:
inventory['월드콘'] = [500, 7]
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [2]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.keys())
print(ice)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [4]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
type(list(icecream.values()))

list

In [5]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
sum(icecream.values())

6700

In [6]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

In [12]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
dict(zip(keys, vals))

{'apple': 300, 'pear': 250, 'peach': 400}

In [13]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
dict(zip(date, close_price))

{'09/05': 10500,
 '09/06': 10300,
 '09/07': 10100,
 '09/08': 10800,
 '09/09': 11000}

#### 분기문 101~130

In [14]:
# boolean 확인

In [16]:
a = input()
print(a*2)

안녕하세요
안녕하세요안녕하세요

In [22]:
num = int(input("숫자를 입력하세요:"))
print(num+10)

숫자를 입력하세요:10
20

In [26]:
num = int(input())
if num %2 == 0:
    print("짝수")
else:
    print("홀수")

20
짝수

In [29]:
num = input("입력값: ")
if int(num) + 20 > 255 :
    print(225)
else:
    print(int(num) + 20)

입력값: 239
225

In [35]:
num = input("입력값: ")
if int(num) - 20 < 0 :
    print(0)
elif int(num) - 20 < 255 :
    print(int(num) - 20)
else:
    print(255)

입력값: 240
220

In [39]:
usr = input("현재시간:")
if usr[-2:] == '00' :
    print("정각 입니다.")
else :
    print("정각이 아닙니다.")

현재시간:3:00
정각 입니다.

In [40]:
fruit = ["사과", "포도", "홍시"]
usr = input("좋아하는 과일은? ")

if usr in fruit :
    print("정답입니다.")

좋아하는 과일은? 사과
정답입니다.

In [44]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
usr = input("종목명: ")

if usr in warn_investment_list :
    print("투자 경고 종목입니다.")
else :
    print("투자 경고 종목이 아닙니다.")

종목명: google
투자 경고 종목이 아닙니다.

In [50]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
usr = input("제가좋아하는계절은: ")
if usr in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

제가좋아하는계절은: 딸기
오답입니다.

In [52]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
usr = input("제가좋아하는과일은: ")
if usr in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다.")

제가좋아하는과일은: 딸기
정답입니다.

In [58]:
usr = input("")
if usr.islower():
    print(usr.upper())
else:
    print(usr.lower())

ASDF
asdf

In [63]:
score = int(input("score:"))

if score <= 20 :
    print("E")
elif score <= 40 :
    print("D")
elif score <= 60 :
    print("C")
elif score <= 80 :
    print("B")
else :
    print("A")

score:100
A

In [70]:
usr = input("입력: ").split(" ")
if usr[1] == '달러' :
    print(float(usr[0])*1167, '원')
elif usr[1] == '엔' :
    print(float(usr[0])*1.096, '원')
elif usr[1] == '유로' :
    print(float(usr[0])*1268, '원')
elif usr[1] == '위안' :
    print(float(usr[0])*171, '원')
else : 
    print("다시 입력해주세요")

입력: 100 위안
17100.0 원

In [76]:
# 딕셔너리 사용
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
usr = input("입력: ")
money, currency  = usr.split()
print(float(money) * 환율[currency], "원")

입력: 100 달러
116700.0 원

In [85]:
usr = []

for i in range(3):
    a = int(input(f"input number{i+1}: "))
    usr.append(a)
print(max(usr))

input number1: 1214
input number2: 23
input number3: 1
1214

In [83]:
2# 반복문 미사용
num1 = int(input("input number1: "))
num2 = int(input("input number2: "))
num3 = int(input("input number3: "))

if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

input number1: 32
input number2: 1
input number3: 2
32

In [91]:
tel = {
    '011' : 'SKT',
    '016' : 'KT',
    '019' : 'LGU',
    '010' : '알수없음'
}
num = input("휴대전화 번호 입력: ")
num_tel = num[:3]
print(f"당신은 {tel[num_tel]} 사용자입니다.")

휴대전화 번호 입력: 016-123-1234
당신은 KT 사용자입니다.

In [94]:
우편번호 = input("우편번호: ")
우편번호 = 우편번호[:3]
if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

우편번호: 01224
강북구

In [95]:
주민번호 = input("주민등록번호: ")
주민번호 = 주민번호.split("-")[1]
if 주민번호[0] == "1" or 주민번호[0] == "3":
    print("남자")
else:
    print("여자")

주민등록번호: 951103-1231242
남자

In [96]:
주민번호 = input("주민등록번호: ")
뒷자리 = 주민번호.split("-")[1]
if 0 <= int(뒷자리[1:3]) <= 8:
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

주민등록번호: 951103-1839394
서울이 아닙니다.

In [98]:
num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

주민등록번호: 912312-1239123
유효하지 않은 주민등록번호입니다.

In [104]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])
if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장

#### 반복문 131~200

In [114]:
for 변수 in ["A", "B", "C"]:
    print(변수)

A
B
C

In [115]:
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

출력: A
출력: B
출력: C

In [118]:
for 변수 in [10, 20, 30]: 
    print(변수)

10
20
30

In [120]:
for 변수 in [10, 20, 30]: 
    print(변수)
    print("-------")

10
-------
20
-------
30
-------

In [121]:
print("++++")
for 변수 in [10, 20, 30]: 
    print(변수)

++++
10
20
30

In [122]:
for i in range(4):
    print("-------")

-------
-------
-------
-------

In [123]:
리스트 = [100, 200, 300]
for i in 리스트:
    print(i+10)

110
210
310

In [124]:
리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
    print("오늘의 메뉴: {}".format(i))

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [125]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
    print(len(i))

6
4
4

In [126]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i, len(i))

dog 3
cat 3
parrot 6

In [127]:
for i in 리스트:
    print(i[0])

d
c
p

In [132]:
리스트 = [1, 2, 3]
for i in 리스트:
  print("3 x", i)

3 x 1
3 x 2
3 x 3

In [137]:
리스트 = [1, 2, 3]
for i in 리스트:
  print("3 x", i ,"=", i*3 )

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [138]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트[1:]:
    print(i)

나
다
라

In [139]:
for i in 리스트[::2]:
    print(i)

가
다

In [140]:
for i in 리스트[::-1]:
    print(i)

라
다
나
가

In [1]:
# 151~160
리스트 = [3, -20, -3, 44]
for i in 리스트:
    if i < 0:
        print(i)

-20
-3

In [2]:
리스트 = [3, 100, 23, 44]
for i in 리스트:
    if i%3 == 0:
        print(i)

3

In [3]:
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
    if i%3 == 0  and i < 20:
        print(i)

12
18

In [4]:
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

In [5]:
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper():
        print(i)

A
D

In [6]:
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.islower():
        print(i)

b
c

In [7]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i.capitalize())

Dog
Cat
Parrot

In [9]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    print(i.split('.')[0])

hello
ex01
intro

In [10]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    if i.endswith('.h'):
        print(i)

intra.h
define.h

In [12]:
#161~170
# for i in range(100):
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [14]:
for i in range(2022, 2051, 4):
    print(i)

2022
2026
2030
2034
2038
2042
2046
2050

In [15]:
for i in range(3, 31, 3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [18]:
# for i in range(99, -1, -1):
for i in range(99, -1, -9):
    print(i)

99
90
81
72
63
54
45
36
27
18
9
0

In [22]:
for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [23]:
for i in range(1,10):
    print(f"3x{i} = {i*3}")

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

In [24]:
for i in range(1,10,2):
    print(f"3x{i} = {i*3}")

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

In [26]:
sum = 0
for i in range(11):
    sum += i
sum

55

In [27]:
sum = 0
for i in range(1,10,2):
    sum += i
sum

25

In [31]:
sum = 1
for i in range(1,11):
    sum *= i
sum

3628800

In [5]:
# 171~180
price_list = [32100, 32150, 32000, 32500]
for i in price_list:
    print(i)

32100
32150
32000
32500

In [6]:
for i, j in enumerate(price_list):
    print(i, j)

0 32100
1 32150
2 32000
3 32500

In [12]:
for i in range(len(price_list)):
    print(len(price_list)-1-i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [15]:
for i in range(len(price_list)-1):
    print(100+10*i, price_list[i+1])

100 32150
110 32000
120 32500

In [16]:
my_list = ["가", "나", "다", "라"]
for i in range(3):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [17]:
my_list = ["가", "나", "다", "라", "마"]
for i in range(3):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [1]:
my_list = ["가", "나", "다", "라"]
for i in range(1,4):
    print(my_list[-i], my_list[-(i+1)])

라 다
다 나
나 가

In [2]:
my_list = [100, 200, 400, 800]
for i in range(3):
    print(my_list[i+1]-my_list[i])

100
200
400

In [4]:
a = [100, 200, 400, 800, 1000, 1300]
for i in range(len(a)-2):
    print((a[i]+a[i+1]+a[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [14]:
for i in range(1, len(a) - 1):
    print(abs(a[i-1] + a[i] + a[i+1])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [17]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []
for i in range(len(low_prices)) :
    volatility.append(high_prices[i] - low_prices[i])
volatility

[50, 100, 30, 80, 0]

In [1]:
#181~190
list = [['101호', '102호'], ['201호', '202호'], ['301호', '302호']]
list

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [3]:
stock = [['시가', 100, 200, 300], ['종가', 80, 210, 330]]
stock

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [1]:
stock = {'시가' : [100, 200, 300],'종가': [80, 210, 330]}
stock

In [2]:
stock = {
    '10/10' : [80, 110, 70, 90],
    '10/11' : [210, 230, 190, 200]
}
stock

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [4]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    print(i[0],'호')
    print(i[1],'호')

101 호
102 호
201 호
202 호
301 호
302 호

In [5]:
for row in apart:
    for col in row:
        print(col, "호")

101 호
102 호
201 호
202 호
301 호
302 호

In [6]:
for row in apart[::-1]:
    for col in row:
        print(col, "호")

301 호
302 호
201 호
202 호
101 호
102 호

In [7]:
for row in apart[::-1]:
    for col in row[::-1]:
        print(col, "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [8]:
for row in apart:
    for col in row:
        print(col, "호")
        print("-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [9]:
for row in apart:
    for col in row:
        print(col, "호")
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [10]:
for row in apart:
    for col in row:
        print(col, "호")
print("-----")

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [31]:
# 191~200
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

3

In [37]:
for i in data:
    for j in i:
        print(j*1.00014)
    print('----')

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [41]:
result = []

for i in data:
    a = []
    for j in i:
        a.append(j*1.00014)
    result.append(a)

result

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772],
 [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772],
 [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [45]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    print(i[3])

100
190
310

In [46]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    if i[3] > 150:
        print(i[3])

190
310

In [47]:
for i in ohlc[1:]:
    if i[3] >= i[0]:
        print(i[3])

100
310

In [48]:
volatility = []
for i in ohlc[1:]:
    volatility.append(i[1]-i[2])
volatility

[40, 30, 10]

In [50]:
for i in ohlc[1:]:
    if i[3] > i[0]:
        print(i[3]-i[0])

10

In [53]:
sum = 0
for i in ohlc[1:]:
    sum += (i[3]-i[0])
    print(sum)
sum

0
-10
0

0

#### 함수 201~240

In [1]:
def print_coin():
    print('비트코인')

In [2]:
print_coin()

비트코인

In [6]:
# for i in range(100):
for i in range(10):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [8]:
def print_coins():
    # for i in range(100):
    for i in range(5):
        print("비트코인")

print_coins()

비트코인
비트코인
비트코인
비트코인
비트코인

In [12]:
# 매우 간단한 결과예측, 설명 등 skip
# 215~
def print_with_smile(string):
    print(string+":D")

In [13]:
print_with_smile('안녕하세요')

안녕하세요:D

In [1]:
def print_sum(a, b):
    print(a + b)

In [4]:
def print_arithmetic_operation(a, b):
    print(f"{a} + {b} =",a+b )
    print(f"{a} - {b} =",a-b )
    print(f"{a} * {b} =",a*b )
    print(f"{a} / {b} =",a/b )

In [5]:
print_arithmetic_operation(3, 4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [6]:
def print_max(a,b,c):
    max = 0
    if a > max:
        max = a
    if b > max:
        max = b
    if c > max:
        max = c
    print(max)

In [14]:
# 221~230
def print_reverse(string):
    print(string[::-1])

In [15]:
print_reverse('abc')

cba

In [24]:
def print_score(list) :
    print(sum(list)/len(list))

In [25]:
print_score([1,2,3])

2.0

In [26]:
def print_even(list):
    for i in list:
        if i % 2 == 0:
            print(i)

In [28]:
print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [31]:
def print_keys(dic):
    for i in dic.keys():
        print(i)

In [32]:
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [35]:
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

In [40]:
def print_value_by_key(dic, day):
        print(dic[day])

In [41]:
print_value_by_key(my_dict, '10/26')

[100, 130, 100, 100]

In [61]:
def print_5xn(string):
    for i in range((len(string)//5)+1):
        print(string[i*5:i*5+5])

In [63]:
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [67]:
def print_mxn(string, m):
    for i in range((len(string)//m)+1):
        print(string[i*m:i*m+m])

In [68]:
print_mxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [91]:
def calc_monthly_salary(pay):
    print(int(pay/12))

In [92]:
calc_monthly_salary(122398410)

10199867

In [ ]:
#231~240

#### 모듈 241~250

#### 클래스 251~290

### 직접 못한 문제(1)

In [ ]:
#133

In [42]:
#225

In [ ]:
# 226

### 직접 못한 문제(2)