### 1강 파이썬 알아보기

+ 파이썬
+ 아나콘다 파이썬
+ Jupyter Notebook
+ Google Colab
+ Pycharm (community)

### 2강 숫자형 자료형

+ 정수형
+ 실수형
+ 지수표현 E
+ 덧셈, 뺄셈, 곱셈, 나눗셈
+ 몫(//), 나머지(%)

### 3강 문자열 자료형

+ 문자, 단어 등으로 구성된 문자들의 집합

In [175]:
text = 'Hello World!'
text = "Hello World!"
text = '''Hello World!'''
text = """Hello World!"""
print(text)

Hello World!

In [176]:
text = 'He said "Hi" to me.'
print(text)

He said "Hi" to me.

In [177]:
text = "He said \"Hi\" to me."
print(text)

He said "Hi" to me.

+ 이스케이프 코드 : 미리 정의 둔 문자조합
+ \n : 줄 바꿈,  \t : 탭,  \' : 작은 따옴표 사용,  \" : 큰 따옴표 사용

In [178]:
# 줄 바꿈 코드 (\n)
text = "Life is too short \nYou need Python."
print(text)

Life is too short
You need Python.

In [179]:
# ''', """
text = """Life is too short
You need Python."""
print(text)

Life is too short
You need Python.

In [181]:
# 문자열 덧셈, 곱셈
a = 'Python'
b = ' is too fun!'
print(a + b)
# 뺄셈은 불가

Python is too fun!

In [182]:
a = 'Python '
print(a * 3)

Python Python Python

In [183]:
a = 'Python'
print(len(a))

6

In [184]:
a = 'Python'
print(a[0])
print(a[-1])

P
n

In [185]:
a = 'Python is too fun!'
print(a[2:9])
print(a[:9])
print(a[7:])

thon is
Python is
is too fun!

- 문자열 전용 함수 : format

In [186]:
text = "I eat {} apples".format(3)
print(text)

I eat 3 apples

In [187]:
text = "I eat {} apples and {} oranges".format(3, 5)
print(text)

I eat 3 apples and 5 oranges

In [188]:
# 10개의 공간 할당
text = "{:<10}".format("Hi")
print(text)

Hi

In [189]:
# 가운데 정렬
text = "{:^10}".format("Hi")
print(text)

    Hi

In [190]:
# 문자로 채움, 가운데 정렬
text = "{:=^10}".format("Hi")
print(text)

====Hi====

In [191]:
# float, 2자리까지만 표현
text = "{:.2f}".format(3.141592)
print(text)

3.14

- 문자열 전용 함수 : count, find, join, upper, lower

In [192]:
text = "Python:is:too:fun!"
print(text.count('o'))

3

In [193]:
text = "Python:is:too:fun!"
print(text.find('o'))
print(text.find("d"))
# 없으면 -1 출력

4
-1

In [194]:
# join 함수
text = ",".join("abcde")
print(text)

a,b,c,d,e

In [195]:
# upper, lower
text = "Python is too fun!"
print(text.upper())
print(text.lower())

PYTHON IS TOO FUN!
python is too fun!

In [196]:
# 공백제거
# lstrip
text = "     Python     "
print(text.lstrip())
# rstrip
text = "     Python     "
print(text.rstrip())
# strip
text = "     Python     "
print(text.strip())

Python
     Python
Python

In [197]:
# replace
text = "Python is too fun!"
print(text.replace("Python","Java"))

Java is too fun!

In [198]:
# split : 빈공간 기준으로 잘라서 리스트로 전환
text = "Python is too fun!"
print(text.split())
# 기준 설정 가능
text = "Python:is:too:fun!"
print(text.split(':'))

['Python', 'is', 'too', 'fun!']
['Python', 'is', 'too', 'fun!']

In [199]:
# startswith : 해당 문자로 시작을 하는지 물어보는 함수
text = "Python is too fun!"
print(text.startswith("Python"))
# startswith : 해당 문자로 끝나는지 물어보는 함수
text = "Python:is:too:fun!"
print(text.endswith('fun!'))

True
True

In [200]:
# isalpha : 글자들로만 구성되어있는지 
text = "Python is too fun!"
print(text.isalpha())
text = "Python"
print(text.isalpha())
# isdigit : 숫자로만 구성되어있는지
# isalnum : 글자, 숫자로 구성되어있는지
# isspace : 공백으로만 구성되어있는지
text = '   '
print(text.isspace())

False
True
True

### 실습문제
- "변수 n에 할당된 값 만큼 "수박" 출력하는 코드 작성

In [53]:
n = 5
a = "수박" * n
print(a[:n])

수박수박수

### 4강 리스트 자료형

- 여러가지 자료를 저장할 수 있는 자료형

In [201]:
a = []
b = [1,2,3]
c = ['Life','is','too','short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

# 2차원 리스트 
f = [[1,2],[3,4],[5,6]]

In [202]:
# 리스트 인덱싱
a = [1,2,3]
print(a[0])
print(a[-1])

1
3

In [203]:
# 리스트 슬라이싱 [시작점 : 끝점 : 증감값]
a = [1,2,3,4,5]
print(a[0:2])
print(a[2:])
print(a[0:4:2])

[1, 2]
[3, 4, 5]
[1, 3]

In [204]:
# 리스트 덧셈 , 뺼셈 불가
a = [1,2,3]
b = [4,5,6]
a + b

[1, 2, 3, 4, 5, 6]

In [205]:
# 리스트 곱셈
a = [1,2,3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [206]:
# 리스트 길이 구하기
a = [1,2,3]
len(a)

3

In [207]:
# 리스트 값 수정하기
a = [1,2,3]
a[2]=4
a

[1, 2, 4]

In [208]:
# 리스트 값 삭제하기
a = [1,2,3]
del a[1]
a

[1, 3]

In [209]:
# 리스트 값 삭제하기
a = [1,2,3,4,5]
del a[3:]
a

[1, 2, 3]

In [210]:
# 리스트 내장함수
a = "python"
list(a)

['p', 'y', 't', 'h', 'o', 'n']

In [211]:
# 리스트 전용함수 : append
a = [1, 2, 3]
a.append(4)
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [212]:
# 리스트 전용함수 : sort
a = [1, 4, 2, 3]
a.sort()
print(a)
a.sort(reverse=True)
print(a)
b = ['a','c','b']
b.sort()
print(b)
b.reverse()
print(b)

# 슬라이싱으로 거꾸로 표현 가능
print(a[::-1])

[1, 2, 3, 4]
[4, 3, 2, 1]
['a', 'b', 'c']
['c', 'b', 'a']
[1, 2, 3, 4]

In [213]:
# 리스트 전용함수 : index
a = [1, 4, 2, 3]
a.index(4)
# print(a.index(5)) -- 없으면 error발생

1

In [214]:
# 리스트 전용함수 : insert
a = [1, 2, 3, 4]
a.insert(0,4)
a

[4, 1, 2, 3, 4]

In [215]:
# 리스트 전용함수 : remove
# 첫번째로 찾은 값만 지워줌
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [216]:
# 리스트 전용함수 : pop (마지막 값을 뽑음)
a = [1, 2, 3]
a.pop()
a
# 뽑은 값을 저장해둘수있음(?)

[1, 2]

In [217]:
# 리스트 전용함수 : count
a = [1, 2, 3, 1]
a.count(1)

2

In [218]:
# 리스트 전용함수 : extend (완전히 합쳐준 후 저장)
a = [1, 2, 3]
a.extend([4,5])
a
# a = a + [4,5] 와 같음

[1, 2, 3, 4, 5]

#### 실습문제 

리스트 값이 저장된 a의 최대값을 변수 c에 할당하고, 최소값을 변수 d에 할당
변수 b에서 인덱싱을 사용해서 5만 추출해서 변수 e에 할당
변수 c, d, e를 곱한 값을 출력

- a = [1, 3, 5, 4, 2]
- b = [1, 2, 3, [4, 5]]

In [219]:
a = [1,3,5,4,2]
a.sort()
c = a[-1]
d = a[0]

b = [1,2,3,[4,5]] 
e = b[3][1]

print(c * d * e)

25

In [220]:
# 내장함수
a = [1,3,5,4,2]
print(max(a))
print(min(a))

5
1

### 5강 튜플 자료형

- 데이터들이 연속적으로 저장되는 형태의 자료형

In [142]:
tuple1 = (1,2,3)
tuple2 = (1,2,3,[4,5])
print(tuple1)
tuple2

(1, 2, 3)

(1, 2, 3, [4, 5])

+ 튜플은 한번 정하면 절대 수정하거나 삭제할 수가 없다.
+ 하나의 변수에 여러 개의 값을 할당하면, 자동으로 튜플로 묶어서 저장해준다.
+ 기본적으로는 하나의 값은 취급하지 않는다.

In [221]:
# 튜플 인덱싱
tuple1 = (1,3,5,4,2)
print(tuple1[0])
print(tuple1[-1])

1
2

In [222]:
# 튜플 슬라이싱
tuple1 = (1,3,5,4,2,0,7)
print(tuple1[2:5])
print(tuple1[3:])
print(tuple1[:5])

(5, 4, 2)
(4, 2, 0, 7)
(1, 3, 5, 4, 2)

In [223]:
# 튜플 덧셈 
a = (1,2,3) 
b = (4,5,6)
print(a+b)

(1, 2, 3, 4, 5, 6)

In [224]:
# 튜플 곱셈
a = (1,2,3)
print(a * 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [225]:
# 튜플 길이 구하기 : len
a = (1,2,3)
print(len(a))

3

In [226]:
# 튜플 리스트로 변환: list()
a = (1,3,5,4,2)
a = list(a)
print(a)

[1, 3, 5, 4, 2]

In [227]:
# 리스트를 튜플로 변환 : tuple()
a = [1,3,5,4,2]
a = tuple(a)
print(a)

(1, 3, 5, 4, 2)

In [231]:
# 예시 - 슬라이싱
a = (1,2,3,4,5,6,7,8,9,10)
print(a[2:6])
print(a[:6])
print(a[3:])
print(a[::2])

(3, 4, 5, 6)
(1, 2, 3, 4, 5, 6)
(4, 5, 6, 7, 8, 9, 10)
(1, 3, 5, 7, 9)

In [235]:
# 예시 - 리스트 변환 후 삭제/수정
a = (1,2,3)
a = list(a)
a[1] = 10
print(a)
a = tuple(a)
print(a)

[1, 10, 3]
(1, 10, 3)

In [238]:
# 실습문제
# 튜플이 저장된 변수 a에 정수 5를 추가하시고, 내림차순으로 정렬된 튜플을 화면에 출력해보세요.

a = (2, 3, 1, 4)
a = list(a)
a.append(5)
a.sort(reverse = True)
a = tuple(a)
print(a)

(5, 4, 3, 2, 1)

### 6강 딕셔너리 자료형

+ 대응 관계를 나타낼 수 있는 자료형

In [239]:
# 데이터를 한쌍씩 넣어주어야 함
dic = {"이름" : "홍길동", "성별" : "남자", "나이" : 30}
print(dic)

{'이름': '홍길동', '성별': '남자', '나이': 30}

- 딕셔너리는 무조건 Key값 기준으로 판단하고, 수행한다.
- 딕셔너리는 집합 형태로 구성되어 있어, 순서가 없다.
- Key 값으로 리스트를 쓸 수 없다. 
- 중복된 Key값은 존재할 수 없다.
- Key값으로 튜플은 가능하다.

In [240]:
# 딕셔너리에 값 추가하기
dic = {"이름" : "홍길동", "성별" : "남자", "나이" : 30}
dic['사는곳'] = '수원'
print(dic)

{'이름': '홍길동', '성별': '남자', '나이': 30, '사는곳': '수원'}

In [241]:
# 딕셔너리에 값이 있는지 확인하기
dic = {"이름" : "홍길동", "성별" : "남자", "나이" : 30}

print('이름' in dic)
print('홍길동' in dic)

True
False

In [242]:
# 딕셔너리에서 값 삭제하기
dic = {"이름" : "홍길동", "성별" : "남자", "나이" : 30}
del dic['나이']
print(dic)

{'이름': '홍길동', '성별': '남자'}

In [243]:
# 딕셔너리 key값에 접근하기
dic = {"이름" : "홍길동", "성별" : "남자", "나이" : 30}
print(dic['성별'])
# key값이 없는경우 에러발생!

남자

In [244]:
# 딕셔너리 값 변경 (덮어씌움)
dic = {"이름" : "홍길동", "성별" : "남자", "나이" : 30}
dic['이름'] = '강동원'
print(dic)

{'이름': '강동원', '성별': '남자', '나이': 30}

In [245]:
# 딕셔너리는 중복된 key값을 가질 수 없다
dic = {"이름" : "홍길동", "이름" : "남자"}
print(dic)
# 가장 마지막에 넣은 Key값을 가짐

{'이름': '남자'}

In [246]:
# 딕셔너리 전용함수 : keys()
dic = {"이름" : "홍길동", "성별" : "남자", "나이" : 30}
print(dic.keys())
# Key값들만 출력
print(list(dic.keys()))
# 리스트로 표현 가능

dict_keys(['이름', '성별', '나이'])
['이름', '성별', '나이']

In [247]:
# 딕셔너리 전용함수 : values()
dic = {"이름" : "홍길동", "성별" : "남자", "나이" : 30}
print(dic.values())
# Value값들만 출력
print(list(dic.values()))
# 리스트로 표현 가능

dict_values(['홍길동', '남자', 30])
['홍길동', '남자', 30]

In [248]:
# 딕셔너리 전용함수 : items()
dic = {"이름" : "홍길동", "성별" : "남자", "나이" : 30}
print(dic.items())
# Key, value 동시 출력
print(list(dic.items()))
# 리스트로 표현 가능

dict_items([('이름', '홍길동'), ('성별', '남자'), ('나이', 30)])
[('이름', '홍길동'), ('성별', '남자'), ('나이', 30)]

# 실습문제

죠스바 1200원, 메로나 1500원, 월드컵 1800원

1. 위의 아이스크림 정보를 아이스크림 이름은 Key값, 가격은 Value으로 하는 딕셔너리를 만드신 후, 변수 dic에 할당해보세요.
2. 1에서 만든 변수 dic에 붕어싸만코 2000원에 대한 정보를 추가해보세요. (이름은 Key, 가격은 Value)
3. 변수 dic에서 메로나에 대한 정보를 삭제해주세요.
4. 변수 dic에서 죠스바의 가격을 1500원으로 변경해주세요.
5. 변수 dic을 화면에 출력해보세요.
6. 변수 dic의 Key값들만 모두 출력해주세요.
7. 변수 dic의 Value값을만 모두 출력해주세요.

In [249]:
dic = {"죠스바" : 1200, "메로나" : 1500, "월드컵" : 1800}
dic['붕어싸만코']=2000
del dic['메로나']
dic['죠스바']=1500

print(dic)
print(dic.keys())
print(dic.values())

{'죠스바': 1500, '월드컵': 1800, '붕어싸만코': 2000}
dict_keys(['죠스바', '월드컵', '붕어싸만코'])
dict_values([1500, 1800, 2000])