<a href="https://colab.research.google.com/github/dbtjr1103/Basic_practice/blob/main/%ED%81%AC%EB%A1%A4%EB%A7%81_%EC%9E%A5%EB%A5%B4%EB%B3%84%EC%9B%B9%ED%88%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
from bs4 import BeautifulSoup
from tqdm.notebook import tqdm

In [7]:
url = 'https://comic.naver.com/webtoon/genre?genre'

resp = requests.get(url)
soup = BeautifulSoup(resp.content, 'lxml')
spot_tags = soup.select('ul.spot a')[3:]
len(spot_tags)

10

In [15]:
genres = {}

for spot_tag in spot_tags:
    key = spot_tag.text

    href = spot_tag['href']
    value = (href.split('=')[-1])

    genres[key] = value

genres

{'일상': 'daily',
 '개그': 'comic',
 '판타지': 'fantasy',
 '액션': 'action',
 '드라마': 'drama',
 '순정': 'pure',
 '감성': 'sensibility',
 '스릴러': 'thrill',
 '무협/사극': 'historical',
 '스포츠': 'sports'}

In [22]:
tits, auts, rats, cats = [], [], [], []

for key, value in zip(genres.keys(), genres.values()): 
    base_url = 'https://comic.naver.com/webtoon/genre?genre='
    url = base_url + value  #value = daily -> comic ...

    resp = requests.get(url)

    soup = BeautifulSoup(resp.content, 'lxml')
    tit_tags = soup.select('ul.img_list li dl dt a')
    aut_tags = soup.select('ul.img_list dd.desc a')
    rat_tags = soup.select('ul.img_list div.rating_type strong')
    # len(tit_tags), len(aut_tags), len(rat_tags)

    for tit_tag, aut_tag, rat_tag in zip(tit_tags, aut_tags, rat_tags):
        tits.append(tit_tag['title'])
        auts.append(aut_tag.text)
        rats.append(rat_tag.text)
        cats.append(key)

In [23]:
len(tits), len(auts), len(rats)

(2021, 2021, 2021)

In [25]:
dic_toons = {
    '제목' : tits,
    '작가' : auts,
    '평점' : rats,
    '장르' : cats
}

In [27]:
import pandas as pd

df_toons = pd.DataFrame(dic_toons)
df_toons

             제목    작가    평점   장르
0      대학원 탈출일지    요다  9.97   일상
1         먹는 인생    홍끼  9.96   일상
2          독립일기    자까  9.97   일상
3     안녕, 나의 수집    하린  9.95   일상
4         윌유메리미  마인드C  9.92   일상
...         ...   ...   ...  ...
2016         군주   박산하  8.50  스포츠
2017   미드나잇 체이서   석재윤  9.60  스포츠
2018     불릿 6미리   김도근  9.89  스포츠
2019         리턴   송래현  9.85  스포츠
2020       번데기스   김경호  7.97  스포츠

[2021 rows x 4 columns]

In [28]:
df_toons.to_csv('장르별웹툰.csv', encoding='utf-8-sig', index=False)