### 7장 집합 자료형

+ 집합에 관련된 것을 처리하는 자료형

In [1]:
# 리스트 1,2,3을 집합화 해라
>>> s1 = set([1,2,3])
>>> s1

{1, 2, 3}

+ 집합 자료형
1. 순서가 없다.
2. 중복을 허용하지 않는다.

In [2]:
# 중복 허용 안함
>>> s2 = set("Hello")
>>> s2

{'H', 'e', 'l', 'o'}

In [3]:
# 교집합 &
>>> s1 = set([1,2,3,4,5,6])
>>> s2 = set([4,5,6,7,8,9])
>>> s1 & s2

{4, 5, 6}

In [4]:
# 합집합 |
>>> s1 = set([1,2,3,4,5,6])
>>> s2 = set([4,5,6,7,8,9])
>>> s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [5]:
# 차집합 -
>>> s1 = set([1,2,3,4,5,6])
>>> s2 = set([4,5,6,7,8,9])
>>> s1 - s2
# {1, 2, 3}
>>> s2 - s1

{7, 8, 9}

In [6]:
# add 하나의 값 추가
>>> s1 = set([1,2,3])
>>> s1.add(4) 
>>> s1

{1, 2, 3, 4}

In [7]:
# update 여러개 값 추가
>>> s1 = set([1,2,3])
>>> s1.update([4,5,6]) 
>>> s1

{1, 2, 3, 4, 5, 6}

In [8]:
# remove 하나의 값 삭제
>>> s1 = set([1,2,3])
>>> s1.remove(2) 
>>> s1

{1, 3}

In [9]:
# 퀴즈
a = [1,1,1,2,2,2,3,3,3,4,4,4,5,5,5]
a = set(a)
a = list(a)
a.sort(reverse=True)
a

[5, 4, 3, 2, 1]

list1 = [1,1,1,1,2,2,2,2,4,4,4,4,5,5,5,5,5,3,3,3,3]

리스트 값이 들어있는 변수 list1을 (5,4,3,2,1) 로 변환한 후, 

set1 = set([3,4,5,6,7])

변수 set1과의 교집합, 합집합을 화면에 출력해보세요

In [10]:
list1 = [1,1,1,1,2,2,2,2,4,4,4,4,5,5,5,5,5,3,3,3,3]
set1 = set([3,4,5,6,7])

list1 = set(list1)
list1 = list(list1)
list1.sort(reverse=True)
list1 = tuple(list1)

print("교집합", set(list1) & set1)    
print("합집합", set(list1) | set1)

교집합 {3, 4, 5}
합집합 {1, 2, 3, 4, 5, 6, 7}

In [11]:
# union 합집합, intersection 교집합
a = set([1,2,3,4,5,6])
b = set([4,5,6,7,8,9])
print(a.union(b))
print(a.intersection(b))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}

In [12]:
# in 멤버연산자
a = set([1,2,3,4,5,6])
b = set([4,5,6,7,8,9])
print(5 in a)

True

### 8장 불 자료형

+ 참과 거짓을 나타내는 자료형

In [13]:
# True, False 첫글자 대문자로 적어야함
a = True
b = False
print(a, b)
# 모든 값을 참과 거짓으로 나눌 수 있음

True False

In [14]:
# 타입 : bool
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [15]:
# 비어있으면 거짓, 비어있지 않으면 참
print(bool(5))
print(bool(0))
print(bool([]))
print(bool([1,2,3]))
print(bool(""))
print(bool('python'))
print(bool())
print(bool((1,3,5)))
# 딕셔너리, 집합도 마찬가지

True
False
False
True
False
True
False
True

+ 사용 예시
    - while 조건문 (조건이 참일때 반복)
    - if 조건 :    -- 조건이 참일때 실행
    - else :     -- 조건이 거짓일때 실행

#### 실습문제
1. 5 > 3의 값을 변수 box에 추가해주세요.
2. 3 > 5의 값을 변수 box에 추가해주세요.
3. 5 == 5의 값을 변수 box에 추가해주세요.
4. 5 != 4의 값을 변수 box에 추가해주세요.
5. bool(5)의 값을 변수 box에 추가해주세요.
6. bool(0)의 값을 변수 box에 추가해주세요.
7. bool([1,3,5,4,2])의 값을 변수 box에 추가해주세요.
8. bool([])의 값을 변수 box에 추가해주세요.
9. bool({"이름" : "강동원"})의 값을 변수 box에 추가해주세요.
10. bool({"이름" : "강동원"})의 값을 변수 box에 추가해주세요.
11. 변수 box 안에 있는 True의 개수를 화면에 출력해주세요.
box = []

In [16]:
box = []
box.append(5 > 3)
box.append(3 > 5)
box.append(5 == 5)
box.append(5 != 4)
box.append(bool(5))
box.append(bool(0))
box.append(bool([1,3,5,4,2]))
box.append(bool([]))
box.append(bool({"이름" : "강동원"}))
box.append(bool({"이름" : "강동원"}))
print(box.count(True))

7

### 9장 변수 다루기

+ 변수를 다루는 다양한 방법

In [17]:
# 변수를 할당하는 다양한 방법
a = 3
a,b = 3,5
a,b = (3,5)
a,b = [3,5]
(a,b) = 3,5
print(a,b)

3 5

In [18]:
# 변수를 할당하는 다양한 방법
a = b = 'python'
print(a,b)

python python

In [19]:
# 변수를 할당하는 다양한 방법 : *나머지가 리스트에 묶여서 들어감
a, b, *c = [1,3,5,4,2]
print(a,b,c)
a, *b, c = [1,3,5,4,2]
print(a,b,c)

1 3 [5, 4, 2]
1 [3, 5, 4] 2

In [20]:
# 변수를 복사하는 방법
a = 5
b = a
b = 3
print(b)
print(a)

3
5

In [21]:
# 변수를 복사하는 방법 - list
a = [1,3,5,4,2]
b = a
b[1] = 10
print(b)
print(a)
# 메모리의 효율성 때문에 리스트에서는 복사가 아님
a = [1,3,5,4,2]
b = a[:]
b[1] = 10
print(b)
print(a)

[1, 10, 5, 4, 2]
[1, 10, 5, 4, 2]
[1, 10, 5, 4, 2]
[1, 3, 5, 4, 2]

In [22]:
# 동일한 변수인지 확인하는 방법 : is
a = [1,3,5,4,2]
b = a
print(a is b)
a = [1,3,5,4,2]
b = [1,3,5,4,2]
print(a is b)

True
False

In [23]:
# 변수를 복사하는 방법 : 라이브러리
from copy import copy

a = [1,3,5,4,2]
b = copy(a)
b[1] = 10
print(b)
print(a)

[1, 10, 5, 4, 2]
[1, 3, 5, 4, 2]

In [24]:
# 변수 교환 - 새로운 변수 생성 (C언어)
a = 3
b = 5

c = a
a = b
b = c

print(a,b)

5 3

In [25]:
# 변수 교환 - 새로운 변수 생성 (C언어)
a,b = 3,5
a,b = b,a

print(a,b)

5 3

+ 실습문제
1. 코드 a, b = [1,3,5,4,2] 에서 에러가 발생하지 않도록 변수 a에는 1이, 변수 b에는 [3,5,4,2]가 할당되도록 코드를 수정해보세요.
2. 변수 a와 b의 값을 서로 교환후, 화면에 변수 a와 b를 출력해보세요.
3. 변수a에 있는 모든 값에 b의 값을 더한 후, 변수a를 화면에 출력해보세요.

In [26]:
a, *b = [1,3,5,4,2]
a,b = b,a

print(a)
print(b)

a[0] = a[0] + b
a[1] += b
a[2] += b
a[3] += b

print(a)

[3, 5, 4, 2]
1
[4, 6, 5, 3]

### 10장 조건문 IF문
+ 조건을 판단하여 조건에 맞는 상황을 수행

+ if 조건문1 : 
     - 수행할 문장 1
     - 수행할 문장 2
+ elif 조건문2 : (여러개 사용 가능)
     - 수행할 문장 3
     - 수행할 문장 4
+ else : 
    - 수행할 문장 A
    - 수행할 문장 B

+ 비교 연산자
     - x < y
     - x > y
     - x == y
     - x != y
     - x >= y
     - x <= y         
+ 논리 연산자
    - x or y (x,y 둘중 하나만 참이여도 참)
    - x and y (x,y 모두 참이여야 참)
    - not x (x가 거짓이면 참이다)
+ 멤버 연산자
    - in
    - not in
    - 리스트, 튜플, 문자열 등

In [27]:
score = 70
message = "success" if score >= 60 else "failure"
print(message)
# 남이 보기 쉽게 쓰는것이 좋음
if score >= 60 :
    message = "success"
else :
    message = "failure"
print(message)

success
success

In [28]:
#예시 1
money = 2000
card = True

if money >= 3000 or card == True:
    print('taxi')
else:
    print('walk')

taxi

In [29]:
#예시 2
pocket = ['paper', 'cellphone', 'money']
card = True

if 'money' in pocket:
    print('taxi')
elif card == True:
    print('taxi')
else:
    print('walk')

taxi

In [30]:
# 실습문제
'''변수 score 값이 90점 이상이면 'A', 80점 이상이면 'B', 70점 이상이면 'C', 60점 이상이면 'D', 
그 이하 나머지는  'F'를 출력하는 코드를 작성해보세요'''

score = 100

if score >= 90:
    print('A')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
elif score >= 60:
    print('D')
else:
    print('F')

A

### 11장 반복문 While문
+ 조건을 판단하여 조건에 맞는 상황을 수행

+ While <조건문>: 
     - <수행할 문장1> 
     - <수행할 문장2> 
     - <수행할 문장3>
- 조건문이 False가 될때가지 반복됨 
- 반복문 강제로 빠져나가기 : break
- 반복문의 맨 처음으로 돌아가기 : continue

In [31]:
# 예시
hit = 0
while hit < 10:
    hit = hit + 1
    print("나무를 {}번 찍었습니다.".format(hit))
    if hit == 10:
        print("나무가 쓰러졌습니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무가 쓰러졌습니다.

In [33]:
# 예시
coffee = 10

while True:
    coffee = coffee - 1
    print("커피를 팔고, {}잔 남았습니다.".format(coffee))
    if coffee == 0:
        print("매진되었습니다.")
        break

커피를 팔고, 9잔 남았습니다.
커피를 팔고, 8잔 남았습니다.
커피를 팔고, 7잔 남았습니다.
커피를 팔고, 6잔 남았습니다.
커피를 팔고, 5잔 남았습니다.
커피를 팔고, 4잔 남았습니다.
커피를 팔고, 3잔 남았습니다.
커피를 팔고, 2잔 남았습니다.
커피를 팔고, 1잔 남았습니다.
커피를 팔고, 0잔 남았습니다.
매진되었습니다.

In [34]:
# 예시
a = 0
while a < 10:
    a += 1
    if a % 2 == 0:
        continue
    print(a)

1
3
5
7
9

In [34]:
# 예시
a = 0
while a < 10:
    a += 1
    if a % 2 == 0:
        continue
    print(a)

1
3
5
7
9

In [35]:
# 실습예시
'''1. while문을 사용해서 1부터 1000까지 3의 배수의 합을 구해보세요.

2. while문을 사용해서 1부터 100까지 더하는 코드를 작성 후, 결과값을 화면에 출력해보세요. '''


#1
a = b = 0

while a < 1000:
    a += 1
    if a % 3 == 0:
        b = b + a
print(b)

#2
a = b = 0

while a < 100:
    a += 1
    b += a
print(b)

166833
5050

### 12장 반복문 FOR문
+ 요청한만큼 순서대로 반복하는 반복문

+ for문의 기본 구조
  - for 변수이름(i) in 반복하고싶은것(리스트, 튜플, 딕셔너리, 문자열 등):
    - 수행할 코드 1
     - 수행할 코드 2

In [36]:
# 예시 : 문자열
for i in "Hello":
    print(i)

H
e
l
l
o

In [37]:
# 예시 : 리스트
for i in ["홍길동","이순신","아이유"]:
    print(i)

홍길동
이순신
아이유

In [47]:
# 예시 : 딕셔너리 
dic = {"이름" : "홍길동","성별" : "남자", "나이" : 30}
for i in dic:
    print(i)
for i in dic.values():
    print(i)

이름
성별
나이
홍길동
남자
30

In [48]:
# for문 범위 반복
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [49]:
# for문 범위 반복
for i in range(3,10):
    print(i)

3
4
5
6
7
8
9

In [50]:
# for문 범위 반복
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [52]:
# 2중 for문  ex)구구단
for i in range(2,10):
    for j in range(1, 10):
        print('{} X {} = {}'.format(i, j, i*j))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [55]:
# 리스트 내포
box = [i for i in range(1, 6)]
print(box)
box = [i for i in range(1,6) if i % 2 == 0]
print(box)

[1, 2, 3, 4, 5]
[2, 4]

In [58]:
# 예시
box = [[1,2], [3,4], [5,6]]

for i,j in box : 
    print(i + j)

3
7
11

In [65]:
# 예시
for i in range(2, 10, 3):
    print(i)
for i in range(10, 5, -2):
    print(i)

2
5
8
10
8
6
4
2

In [75]:
# 예시
box = [] #[1,2,3,4,5]

for i in range(1, 6):
    box.append(i)
print(box)
# 리스트 내포
box = [i*3 for i in range(1,11)]
print(box)
# if 문
box = [i for i in range(1,11) if i % 2 == 0]
print(box)

[1, 2, 3, 4, 5]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[2, 4, 6, 8, 10]

In [76]:
# 예시, 2중if
box = [i*j for i in range(2,10) for j in range(1,10)]
print(box)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [77]:
# 예시
a = 0
for i in range(1,1001):
    a += i
print(a)

500500

In [78]:
# 실습문제
'''로또 번호는 1번부터 45번까지 존재하고, 중복되지 않은 6개의 조합으로 당첨번호를 추첨합니다. 
로또 당첨 번호가 총 몇 개의 조합이 있는 지 for문을 사용해서 로또 당첨 번호의 총 개수를 구해보세요'''

count = 0
for n1 in range(1,46):
    for n2 in range(n1+1, 46):
        for n3 in range(n2+1, 46):
            for n4 in range(n3+1, 46):
                for n5 in range(n4+1, 46):
                    for n6 in range(n5+1, 46):
                        count += 1
print(count)

8145060